body{
    margin: 0;
}
.informaciefoto{
    width: 100%;
}
.fajka{
    width: 40px;
}
h1{
    color: forestgreen;
    font-size: 60px;
    font-family: "Comic Sans MS", serif;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.popis{
    font-family: "Comic Sans MS", serif;
    text-align: justify;
    width: 45%;
}
.text{
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}
.kontajner{
    display: flex;
    justify-content: space-around;
}

.atrakciee{
    font-size: 35px;
    font-family: "Comic Sans MS", serif;
    text-align: center;
    font-weight: bold;
}
.dane{
    margin-left: 50%;
    text-align: center;
    background-color: black;
    height: 60px;
    width: 100%;
    color: whitesmoke;
    font-size: 30px;
    transform: translate(-50%, 50%);
}

@media only screen and (max-width: 1000px) {

    h1{
        font-size: 45px;
    }
    .dane{
        font-size: 25px;
    }
}
@media only screen and (max-width: 850px) {

    .kontajner{
        display: block;
    }
    .popis{
        width: 80%;
        margin-left: 10%;
        font-size: 15px;
    }
    .ponuka{
        margin-left: 10%;
    }
    .text{
        font-size: 30px;
    }
    .dane{
        font-size: 20px;
    }
}