li{
    display: inline-block;
    position: relative;
    padding: 13px;
}

li a {
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.Menu{
    top:0;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: #131212;
    text-align: center;
    padding-left: 0;
    z-index: 1;
}

li:hover{
    background:rgba(193, 243, 122, 0.7);
    transition: 1s;
    text-transform: uppercase;
}

body{
    background-color: #fff4d5;
}

li:hover ul {
    display: block;
    padding-top:14px;
    left:0;
    padding-left: 0;
}

li ul li{
    display: block;
    position: relative;
}

li ul{
    display: none;
    position: absolute;
    background:#131212;
}

.mobile-container{
    display: none;
}

@media only screen and (max-width: 800px) {

    .Menu{
        visibility: hidden;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
        display: unset;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        height: 20px;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }


}





