img{
    width: 100%;
    height: auto;
}

.hala{
    width: 90%;
    height: auto;
    margin-top: 2em;
}

.obrazky{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;

}

body{
    background-color: #fff4d5;
}

.columnprvy, .columndruhy, .columntreti {
    width: 30%;
    text-align: center;
    border-radius: 15px;

}

.columnprvy{
    background-color: #90e905;
}

.columndruhy{
    background-color: yellow;
}

.columntreti{
    background-color: deepskyblue;
}

h2{
    text-align: center;
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

th, td{
    border: 1px solid black;
    font-weight: bold;
    width: 25%;
    height: 40px;
    text-align: center;
}

.cenalezenie{
    margin: auto;
}

.cenasqash{
    margin: auto;
}

.cenahala{
    margin: auto;
}
.poznamka{
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", serif;
}

@media only screen and (max-width: 600px) {

    .obrazky{
        display: block;
        margin-top: 1em;
    }
    .columnprvy, .columndruhy, .columntreti {
        width: 100%;
        margin-bottom: 2em;
    }

}