.sitetext{
    margin: auto;
}
.vonkajsieatrakcie{
    margin-top: 5em;
}

.rowprvy, .rowdruhy, .rowtreti{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.rowprvy{
    background-color: orange;
}

.rowdruhy{
    background-color: mediumpurple;
}

.rowtreti{
    background-color: aquamarine;
}

.obrleft{
    width: 30%;
    height: auto;
    padding: 20px;
}

.obrright{
    width: 30%;
    height: auto;
    padding: 20px;
}

.obrdown{
    width: 30%;
    height: auto;
    padding: 20px;
}

.beach{
    text-align: center;
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.draha{
    text-align: center;
    font-family: "Comic Sans MS",serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}
.tenis{
    text-align: center;
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.textbeach{
    width: 100%;
    font-size: 30px;
    font-family: "Comic Sans MS", serif;
    text-align: center;
}
.textopica{
    width: 100%;
    font-size: 30px;
    font-family: "Comic Sans MS", serif;
    text-align: center;
}

.texttenis{
    width: 100%;
    font-size: 30px;
    font-family: "Comic Sans MS", serif;
    text-align: center;
}

@media only screen and (max-width: 1050px) {

    .rowprvy, .rowdruhy, .rowtreti{
        display: block;
        text-align: center;
        width: 100%;
        border-radius: 20px;
    }
    .obrdown, .obrright, .obrleft{
        width: 60%;
    }

    .vonkajsieatrakcie{
        margin-top: 0;
    }
    .beach, .draha, .tenis, .texttenis, .textopica, .textbeach{
        font-size: 20px;
    }

}